body{
	font-size: 12px;
	font-weight: bold;
	color: green;
	font-family: 'PT Sans Narrow';
	line-height: 15px;
	margin: 0;
	padding: 0 ;
	background-color: white;
}
h1{
	font-family: 'PT Sans Narrow';
	line-height: 60px;
}
h2{ font-size: 32px;
	font-weight: normal;
	color: blue;
	font-family: 'PT Sans Narrow';
	line-height: 30px;
}
/*the header*/
.header{
	background-color:black;
	width: 960px;
	height: 70px;
	margin: -20px auto 0 auto;
}
.header-simbol{
	float: left;
}
.header-simbol img{
	margin-top: 25px;
	width: 140px;
}
.nav-items ul li{
	background-color: yellow;
	float: left;
	width: 108px;
	margin-top: 30px;
	margin-left: 30px;
}
.login{
	background-color: red;
	float: right;
	width: 60px;
	margin-top: 30px;
}
.clear{
	clear: both;
}

/*the section in catalog file*/
.section{
	background-color: #f8f5f2;
	width: 960px;
	margin: 0 auto;
}
.section-header h1{
	margin: 0;
}
.section-header li{
	float: left;
	width: 140px;
	margin-left: 0;
	background-color: red;
}.
.section-menu{
	width: 220px;
}
.section-products{
	float: right;
	width: 700px;
}
.section-products article img{
	width: 220px;
	height: 185px;
}
.section-products article{
	width: 220px;
	height: 285px;
	background-color: white;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.section-footer{
	margin-left: 250px;
	margin-top: 45px;
}

/*section for catalog-item.html*/
.section-left{
	width: 460px;
	height: 670px;
	float:left;
}
.section-left-top img{
	width: 460px;
	height: 500px;
}
.section-left-bottom img{
	margin-top: 10px;
	margin-right: 10px;
	width: 140px;
	height: 150px;
}
.section-right{
	float:right;
	width: 380px;
	height: 505px;
	margin-right: 50px;
}

/*footer*/
.footer{
	background-color: black;
	width: 960px;
	margin: 0 auto;
}
.footer-first{
	float:left;
	width: 320px;
}
.footer-second{
	margin-left: 90px;
	float: left;
	width: 140px;
}
.footer-second a{
	margin-left: 10px;
	margin-right: 10px;
}
.footer-last{
	margin-left: 260px;
	float: left;
	width: 140px;
}